<div class="hero is-warning">
    <div class="hero-body">
      <h1>
        EDIT YOUR PROFILE
      </h1>
    </div>
</div>


<div class="columns is-centered">
  <div class="column is-half">
    <div class="edit-user-shadow edit-user-margin">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, class: 'input is-hovered' %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-hovered' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'input is-hovered'%>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-hovered'%>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: 'input is-hovered'%>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: 'button is-info is-light' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="hero is-danger">
    <div class="hero-body">
      <h3>Cancel my account</h3>
      <br>
      <p>
        WARNING: THIS WILL PERMANENTLY DELETE YOUR PROFILE, POSTS AND APPOINTMENTS.
      </p>
      <hr>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-warning" %>
    </div>
</div>
<br>
<%= link_to "Back", :back, class: "button is-large"%>