<br>
<% comments.each do |comment| %>
<div class="level">
  <article class="media">
    <div class="media-left">
      <strong><%= comment.user.name %></strong> 
    </div>
    <div class="column">
      <div class="box">
        <p class="content is-medium">
          <%= comment.body_html %>
          <small class="content is-small">
            Date and Time Posted: <%= comment.created_at %>
          </small>
        </p>
        <hr>
        <nav class="level is-mobile">
            <div class="level-left">
              <%= form_for @new_comment do |f| %>
                <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
                <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
                <%= f.hidden_field :comment_id, value: comment.id %>
                <%= f.text_area :body, class: 'textarea is-primary' %>
                <br>
                <%= button_tag(type: "submit", class: "button is-primary is-outlined is-rounded") do %>
                    Reply &nbsp; <i class="fas fa-reply"></i>
                <% end %>
              <% end %>
            </div>
        </nav>

      </div>
      <div class="is-small">
        <%= render partial: "comments/reply", locals: {comments: comment.children} %>
      </div>
    </div>
  </article>
</div>
<% end %>