<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Registered Users
      </h1>
      <h2 class="subtitle">
        Add your perspective colleague or friends.
      </h2>
    </div>
  </div>
</section>

<nav class="panel">
    <div class="panel-block">
        <%= form_tag ({controller: 'friends', action: 'search'}) do %>
            <p class="control has-icons-left">
                <input class="input" type="text" name="search" id="search" placeholder="Search Users and Enter">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true" type="submit" name="commit" value="Search" data-disable-with="Search"></i>
                </span>
            </p>
        <% end %>
    </div>
    <div id="tabs-with-content">
        <div class="tabs is-centered">
            <ul>
                <li><a>Friends</a></li>
                <li><a>User Request</a></li>
                <li><a>Pending Request</a></li>
                <li><a>Users</a></li>
            </ul>
        </div>

        <section class="tab-content">
            <% if @user.friends? %>
                    <% @friends.each do |friend| %>
                    <div class="ui vertical segment">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                            <strong>
                                                <%= link_to  friend.name, user_path(friend) %>
                                            </strong>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <hr>
                <% end %>
            <% end %>
        </section>

        <section class="tab-content">
            <% if @user.friend_requests? %>
                    <div class="ui vertical clearing segment friends-margin">
                        <% @requests.each do |friend| %>
                            <section class="ui basic segment">
                                <div class="box">
                                <article class="media">
                                    <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>
                                                <%= link_to  friend.name, user_path(friend) %>
                                            </strong>
                                            |
                                            <small>
                                                <%= friend.email %>
                                            </small>
                                            | 
                                            <small>
                                                <%= friend.created_at %>
                                            </small>
                                        </p>
                                    </div>
                                    <nav class="level is-mobile">
                                        <div class="level-left">
                                            <%= form_tag ({controller: 'friends', action: 'add', method: 'post', id: friend.id}) do %>
                                                <button class="button">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-user-check"></i>
                                                    </span>
                                                </button>
                                            <% end %>
                                            <%= form_tag ({controller: 'friends', action: 'reject', method: 'post', id: friend.id}) do %>
                                                <button class="button">
                                                    <span class="icon is-small">
                                                        <i class="fas fa-user-times"></i>
                                                    </span>
                                                </button>
                                            <% end %>
                                        </div>
                                    </nav>
                                    </div>
                                </article>
                            </div>
                            </section>
                        <% end %>
                    </div>
                    <hr>
                    <% else %>
                    No User or Friends Request.
            <% end %>
        </section>

        <section class="tab-content">
                <% if @user.requested_friends? %>
                    <% @pending.each do |friend| %>
                    <div class="ui vertical segment">
                        <div class="box">
                            <article class="media">
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>
                                                <%= link_to  friend.name, user_path(friend) %>
                                            </strong>
                                            |
                                            <small>
                                                <%= friend.email %>
                                            </small>
                                            | 
                                            <small>
                                                <%= friend.created_at %>
                                            </small>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <hr>
                    <% end %>
                <% else %>
                    No Pending Request.
                <% end %>
        </section>

        <section class="tab-content">
            <% @user.not_friends.sample(10).each do |user| %>
                    <section class="ui basic segment">
                        <span class="ui header">
                        <%= link_to user.name, user_path(user) %>
                    </span>
                        <div class="ui basic segment">
                            <%= form_tag ({controller: 'friends', action: 'create', method: 'post', id: user.id}) do %>
                                <input class="ui basic button" type=submit value='Add Friend'>
                            <% end %>
                        </div>
                    </section>
            <% end %>
        </section>
    </div>

</nav>

















