<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @user.name %>
      </h1>
      <h2 class="subtitle">
        Member since <%= @user.created_at %>
      </h2>
            <% if @user == current_user %>
                <div class="columns is-mobile is-multiline">
                    <div class="column is-narrow">
                        <p class="bd-notification is-primary">
                            <%= @user.name %> follow <%= @user.followees.count %> users.
                            <br>
                            <%= @user.name %> have <%= @user.followers.count %> followers.
                        </p>
                    </div>
                </div>
            <% elsif current_user.followees.include?(@user) %>
                <%= button_to "Unfollow", unfollow_user_path, method: "POST", :class => "button is-black" %>
            <% else %>
                <%= button_to "Follow", follow_user_path, method: "POST", :class => "button is-white" %>
            <% end%>
    </div>
  </div>
</section>


<div id="tabs-with-content">
  <div class="tabs is-centered">
    <ul>
      <li><a>Followers</a></li>
      <li><a>Following</a></li>
      <li><a>Friends</a></li>
      <li><a>Posts</a></li>
    </ul>
  </div>
  <div>
    <section class="tab-content">
        <%= @user.followers.count %> Followers.
        <hr>
        <% @followers.each do |f| %> 
            <ul>
                <li><%= f.name %></li>
            </ul>
        <% end %>
    </section>
    <section class="tab-content">
        Following <%= @user.followees.count %> Users.
        <hr>
        <% @followees.each do |f| %> 
            <ul>
                <li><%= f.name %></li>
            </ul>
        <% end %>
    </section>
    <section class="tab-content">Friends list here</section>
    <section class="tab-content">Posts here</section>
  </div>
</div>