<%#= form_for(@post) do |fr| %> <%# https://stackoverflow.com/questions/14740702/form-for-undefined-method-user-path  %>
   
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> -- </h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field form-group">
        <%= fr.label :post_content %><br />
        <%= fr.text_area :post_content, class: 'form-control' %><br />
        <%= fr.check_box :published %>
      </div>
      <div class="actions form-group">
        <%= fr.submit %>
      </div>
