<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        LiveWire Dashboard
      </h1>
      <h2 class="subtitle">
        <%= current_user.name %>
      </h2>
      <h4>
         <div class="columns is-mobile is-multiline">
                  <div class="column is-narrow">
                        <p class="bd-notification is-primary">
                            <%= current_user.name %> follow <%= current_user.followees.count %> users.
                            <br>
                            <%= current_user.name %> have <%= current_user.followers.count %> followers.
                        </p>
                  </div>
          </div>
      </h4>
    </div>
  </div>
</section>
<br>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <h1 class="title">Number of Appointments</h1>
          <p class="subtitle"><%= @appointment.count %></p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">Number of Registered Users</p>
          <p class="subtitle"><%= @user.count %></p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title"><%= @news_count%> News Feed</p>
          <!--
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png">
          </figure>
          -->
         <div class="ex1">
          <% @data["articles"].each do |articles| %>
                    <ul>
                      <li>
                        <!-- https://www.thesitewizard.com/html-tutorial/open-links-in-new-window-or-tab.shtml -->
                        <h3>
                          <a class="news-title-link" href="<%= articles['url'] %>" target="_blank" rel="noopener noreferrer">
                            <%= articles['title'] %>
                          </a>
                        </h3>
                          <figure class="image is-4by3">
                            <img src="<%= articles['urlToImage'] %>"
                          </figure>
                          <hr>
                      </li>
                    </ul>
          <% end %>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">
          Friends list here
        </p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>