<section class="hero is-medium is-light is-bold hero-bkg-glass">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        LiveWire Dashboard
      </h1>
        <div class="shadow user-name-bkg-glass">
          <h2 class="title user-name-margin">
            <a href="/users/<%= current_user.id %>">
              <%= current_user.name %>
            </a>
          </h2>
        </div>
        <br>
      <h4>
         <div class="columns is-mobile is-multiline">
                  <div class="column is-narrow">
                        <p class="bd-notification is-primary">
                            <%= current_user.name %> follow <%= current_user.followees.count %> users.
                            <br>
                            <%= current_user.name %> have <%= current_user.followers.count %> followers.
                        </p>
                  </div>
          </div>
      </h4>
    </div>
  </div>
</section>

<br>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary shadow">
          <h1 class="title">Number of Appointments</h1>
          <p class="subtitle is-size-1"><%= @appointment.count %></p>
        </article>
        <article class="tile is-child notification is-dark shadow">
          <p class="title">Number of Registered Users</p>
          <p class="subtitle is-size-1"><%= @user.count %></p>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-black shadow">
          <p class="title">News Feed</p>
          <p class="subtitle">
            There are <%= @news_count%>  Articles Available
          </p>
         <div class="scroll-content scrollbar-invisible block">
            <% @data["articles"].each do |articles| %>
              <ul>
                        <li>
                            <a href="<%= articles['url'] %>" target="_blank" rel="noopener noreferrer" class="no-underline">
                              <!-- https://www.thesitewizard.com/html-tutorial/open-links-in-new-window-or-tab.shtml -->
                              <h2>
                                  <%= articles['title'] %>
                              </h2>
                                <small>
                                  <%= articles['publishedAt'] %>
                                </small>
                                <figure class="image is-4by3">
                                  <img src="<%= articles['urlToImage'] %>">
                                </figure>
                            </a>
                            <br><br>
                        </li>
              </ul>
            <% end %>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-black shadow">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
            TEST
        </div>
      </article>
    </div>
  </div>
  
  <div class="tile is-parent">
    <article class="tile is-child notification is-primary shadow">
      <div class="content column is-centered">
        <p class="title">Posts</p>
        <p class="subtitle">
          There are <%= current_user.posts.count %> Posts
        </p>
        <div class="scroll-content scrollbar-invisible column has-text-centered is-14">
          <!-- Content -->  
          <% @post.each do |post| %>
            <%#= post.post_content_html %>
            <% if current_user.id == post.user_id %>
                  <%= post.post_content_html %>
                  <small>
                    <%= post.created_at %>
                  </small>
                  <br>
                    <%= link_to 'Show', user_post_path(current_user.id, post) %> | 
                    <%= link_to 'Edit', edit_user_post_path(current_user.id, post) %> | 
                    <%= link_to 'Destroy', user_post_path(current_user.id, post), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <br>
                  <br>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  </div>
</div>
<br>
<%= render "layouts/footer" %>

