<p>
  <strong>Appointment</strong>
  <%= @appointment.appt_name %>
</p>

<p>
  <strong>Appointment Details</strong>
  <br>
  <%= @appointment.appt_description %>
</p>

<p>
  <strong>Appointment Date</strong>
  <%= @appointment.appt_date %>
</p>

<p>
  <strong>Appointment Address</strong>
  <%= @appointment.locations.first.appt_address %>, <%= @appointment.locations.first.appt_city %>, <%= @appointment.locations.first.appt_state %>
</p>

<p>
  <strong>County (Borough)</strong>
  <%= @county %>
</p>
