<p>
  <strong>Appt name:</strong>
  <%= @appointment.appt_name %>
</p>

<p>
  <strong>Appt description:</strong>
  <%= @appointment.appt_description %>
</p>

<p>
  <strong>Appt date:</strong>
  <%= @appointment.appt_date %>
</p>

<p>
  <strong>Appt address:</strong>
  <%= @appointment.locations.first.appt_address %>
</p>

<p>
  <strong>Appt city:</strong>
  <%= @appointment.locations.first.appt_city %>
</p>

<p>
  <strong>Appt state:</strong>
  <%= @appointment.locations.first.appt_state %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @appointment.locations.first.latitude %>, <%= @appointment.locations.first.longitude %>
</p>