<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Edit Appointment
      </h1>
    </div>
  </div>
</section>
<br>
  <%= form_for @appointment, url: user_appointment_path(@appointment), html: { method: :patch } do |form| %>
    <% if current_user.id != @appointment.user_id %>
      <% controller.redirect_to :user_appointments, error: "Not Authorized!" %>
    <% else %>
        <%= render 'edit_form', form: form %>
    <% end %>
  <% end %>
<br>
<%= link_to 'Show', user_appointment_path(@appointment) %> |
<%= link_to 'Back', user_appointments_path, method: :get %>
<hr>
<%= render "layouts/footer" %>

