<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- <title>Livewire</title> -->
    <title><%= content_for?(:title) ? yield(:title) : "Livewire" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Livewire" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/lux/bulmaswatch.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <section class="container">
      <% if user_signed_in? %>
        <%= render "shared/navigation" %>
      <% end %>
      <%= render "shared/flash" %>
      <%= yield %>
      <%= javascript_pack_tag 'custom_bulma' %>
    </section>     
  </body>
</html>
